.col-md-12.col-sm-12.col-xs-12
  %h1 Samples

.col-md-12.col-sm-12.col-xs-12
  %table
    %tr
      %th= link_to "Principal Investigator", :sort => "principal_investigator"
      %th= link_to "Project Number", :sort => "project_number"
      %th= link_to "Identifier", :sort => "created_at"
      %th= link_to "Total Reads", :sort => "total_reads"
      %th= link_to "Average Q Score", :sort => "average_q_score"
      %th= link_to "Percent 5x Coverage", :sort => "percent_five_x_coverage"
      %th= link_to "Percent 10x Coverage", :sort => "percent_ten_x_coverage"
      %th= link_to "Percent 20x Coverage", :sort => "percent_twenty_x_coverage"
      %th= link_to "Percent 30x Coverage", :sort => "percent_thirty_x_coverage"

    - @samples.each do |sample|
      %tr
        %td= link_to "#{sample.principal_investigator.first_name} #{sample.principal_investigator.last_name}", principal_investigator_path(sample.principal_investigator.id)
        %td= link_to sample.project.number, project_path(sample.project.id)
        %td= sample.identifier
        %td= sample.total_reads
        %td= sample.average_q_score
        %td= sample.percent_five_x_coverage
        %td= sample.percent_ten_x_coverage
        %td= sample.percent_twenty_x_coverage
        %td= sample.percent_thirty_x_coverage

.col-md-12.col-sm-12.col-xs-12
  = form_tag import_samples_path, :multipart => true do
    = file_field_tag :file
    = submit_tag "Import"