.col-md-12.col.sm-12.col-xs-12
  #pi_title_section
    %h1= "#{@principal_investigator.first_name} #{@principal_investigator.last_name}"

  #project_list
    - @principal_investigator.projects.each do |project|
      %h2= link_to "Project Number: #{project.number}", project_path(project.id)

  .root_link
    = link_to "Back to Index", root_url